@using StugService.Web.Common
@using StugService.Web.Extensions
@if (Request.CurrentLang() == Lang.Sv)
{
    <div class="column">
        <h2>
            Kontakt</h2>
        <h3>
            Bokning och frågor</h3>
        <ul>
            <li>Daniel Bergström 0702-072072</li>
            <li>Linnéa Engström 0702-072073</li>
        </ul>
        <h3>
            Servicetekniker</h3>
        <ul>
            <li>Lars-Erik Engström 070207207</li>
            <li>Mikeal Engström 0702072074</li>
        </ul>
    </div>
    <div class="column">
        <h2>
            Vi som jobbar här</h2>
    </div>
    <div class="column">
        <h2>
            Vi har f-skatt osv</h2>
    </div>
}
else if (Request.CurrentLang() == Lang.En)
{
    <div class="column">
        <h2>
            Contact</h2>
        <h3>
            Booking and support</h3>
        <ul>
            <li>Daniel Bergström 0702-072072</li>
            <li>Linnéa Engström 0702-072073</li>
        </ul>
        <h3>
            Servicetekniker</h3>
        <ul>
            <li>Lars-Erik Engström 070207207</li>
            <li>Mikeal Engström 0702072074</li>
        </ul>
    </div>
    <div class="column">
        <h2>
            Vi som jobbar här</h2>
    </div>
    <div class="column">
        <h2>
            Vi har f-skatt osv</h2>
    </div>
}
else if (Request.CurrentLang() == Lang.De)
{
    <div class="column">
        <h2>
            Tyska</h2>
        <h3>
            Bokning och frågor</h3>
        <ul>
            <li>Daniel Bergström 0702-072072</li>
            <li>Linnéa Engström 0702-072073</li>
        </ul>
        <h3>
            Servicetekniker</h3>
        <ul>
            <li>Lars-Erik Engström 070207207</li>
            <li>Mikeal Engström 0702072074</li>
        </ul>
    </div>
    <div class="column">
        <h2>
            Vi som jobbar här</h2>
    </div>
    <div class="column">
        <h2>
            Vi har f-skatt osv</h2>
    </div>
}
else if (Request.CurrentLang() == Lang.Nl)
{
    <div class="column">
        <h2>
            Nederlänska</h2>
        <h3>
            Bokning och frågor</h3>
        <ul>
            <li>Daniel Bergström 0702-072072</li>
            <li>Linnéa Engström 0702-072073</li>
        </ul>
        <h3>
            Servicetekniker</h3>
        <ul>
            <li>Lars-Erik Engström 070207207</li>
            <li>Mikeal Engström 0702072074</li>
        </ul>
    </div>
    <div class="column">
        <h2>
            Vi som jobbar här</h2>
    </div>
    <div class="column">
        <h2>
            Vi har f-skatt osv</h2>
    </div>
}