@using StugService.Web.Common
@using StugService.Web.Extensions
@if (Request.CurrentLang() == Lang.Sv)
{
    <div id="footer-one" class="column">
        <ul class="usp">
            <li>Tillsyn av ditt hus</li>
            <li>Rapportering med foton</li>
            <li>Gräsklippning, snöskottning etc.</li>
        </ul>
        <a id="btn-signup" class="btn-signup-huge" href="/sv/tjanster/"><span>Se v&aring;ra
            tj&auml;ster &amp; priser</span> </a>
    </div>
    <div id="footer-two" class="column">
        <h2>
            Bokning och frågor</h2>
        <ul>
            <li><strong>Linnéa Engström</strong></li>
            <li><a class="callto" href="callto:0702072072">0702-072072</a></li>
            <li><a class="mailTo" href="mailto:linnea.engstrom@wermlandsstugservice.se">linnea.engstrom@wermlandsstugservice.se</a></li>
            <li><strong>Daniel Bergström</strong></li>
            <li><a class="callto" href="callto:0702072072">0702-072072</a></li>
            <li><a class="mailTo" href="mailto:daniel.bergstrom@wermlandsstugservice.se">daniel.bergstrom@wermlandsstugservice.se</a></li>
        </ul>
    </div>
    <div id="footer-three" class="column">
        <h2>
            Servicetekniker</h2>
        <ul>
            <li><strong>Mikael Engström</strong></li>
            <li><a class="callto" href="callto:0702072072">0702-072072</a></li>
            <li><a class="mailTo" href="mailto:mikael.engstrom@wermlandsstugservice.se">mikael.engstrom@wermlandsstugservice.se</a></li>
        </ul>
    </div>
}
else if (Request.CurrentLang() == Lang.En)
{
    <div id="footer-one" class="column">
        <ul class="usp">
            <li>Tillsyn av ditt hus</li>
            <li>Rapportering med foton</li>
            <li>Gräsklippning, snöskottning etc.</li>
        </ul>
        <a id="btn-signup" class="btn-signup-huge" href="/sv/tjanster/"><span>Se v&aring;ra
            tj&auml;ster &amp; priser</span> </a>
    </div>
    <div id="footer-two" class="column">
        <h2>
            Bokning och frågor</h2>
        <ul>
            <li><strong>Linnéa Engström</strong></li>
            <li><a class="callto" href="callto:0702072072">0702-072072</a></li>
            <li><a class="mailTo" href="mailto:linnea.engstrom@wermlandsstugservice.se">linnea.engstrom@wermlandsstugservice.se</a></li>
            <li><strong>Daniel Bergström</strong></li>
            <li><a class="callto" href="callto:0702072072">0702-072072</a></li>
            <li><a class="mailTo" href="mailto:daniel.bergstrom@wermlandsstugservice.se">daniel.bergstrom@wermlandsstugservice.se</a></li>
        </ul>
    </div>
    <div id="footer-three" class="column">
        <h2>
            Servicetekniker</h2>
        <ul>
            <li><strong>Mikael Engström</strong></li>
            <li><a class="callto" href="callto:0702072072">0702-072072</a></li>
            <li><a class="mailTo" href="mailto:mikael.engstrom@wermlandsstugservice.se">mikael.engstrom@wermlandsstugservice.se</a></li>
        </ul>
    </div>
}
else if (Request.CurrentLang() == Lang.De)
{
    <div id="footer-one" class="column">
        <ul class="usp">
            <li>Tillsyn av ditt hus</li>
            <li>Rapportering med foton</li>
            <li>Gräsklippning, snöskottning etc.</li>
        </ul>
        <a id="btn-signup" class="btn-signup-huge" href="/sv/tjanster/"><span>Se v&aring;ra
            tj&auml;ster &amp; priser</span> </a>
    </div>
    <div id="footer-two" class="column">
        <h2>
            Bokning och frågor</h2>
        <ul>
            <li><strong>Linnéa Engström</strong></li>
            <li><a class="callto" href="callto:0702072072">0702-072072</a></li>
            <li><a class="mailTo" href="mailto:linnea.engstrom@wermlandsstugservice.se">linnea.engstrom@wermlandsstugservice.se</a></li>
            <li><strong>Daniel Bergström</strong></li>
            <li><a class="callto" href="callto:0702072072">0702-072072</a></li>
            <li><a class="mailTo" href="mailto:daniel.bergstrom@wermlandsstugservice.se">daniel.bergstrom@wermlandsstugservice.se</a></li>
        </ul>
    </div>
    <div id="footer-three" class="column">
        <h2>
            Servicetekniker</h2>
        <ul>
            <li><strong>Mikael Engström</strong></li>
            <li><a class="callto" href="callto:0702072072">0702-072072</a></li>
            <li><a class="mailTo" href="mailto:mikael.engstrom@wermlandsstugservice.se">mikael.engstrom@wermlandsstugservice.se</a></li>
        </ul>
    </div>
}
else if (Request.CurrentLang() == Lang.Nl)
{
    <div id="footer-one" class="column">
        <ul class="usp">
            <li>Tillsyn av ditt hus</li>
            <li>Rapportering med foton</li>
            <li>Gräsklippning, snöskottning etc.</li>
        </ul>
        <a id="btn-signup" class="btn-signup-huge" href="/sv/tjanster/"><span>Se v&aring;ra
            tj&auml;ster &amp; priser</span> </a>
    </div>
    <div id="footer-two" class="column">
        <h2>
            Bokning och frågor</h2>
        <ul>
            <li><strong>Linnéa Engström</strong></li>
            <li><a class="callto" href="callto:0702072072">0702-072072</a></li>
            <li><a class="mailTo" href="mailto:linnea.engstrom@wermlandsstugservice.se">linnea.engstrom@wermlandsstugservice.se</a></li>
            <li><strong>Daniel Bergström</strong></li>
            <li><a class="callto" href="callto:0702072072">0702-072072</a></li>
            <li><a class="mailTo" href="mailto:daniel.bergstrom@wermlandsstugservice.se">daniel.bergstrom@wermlandsstugservice.se</a></li>
        </ul>
    </div>
    <div id="footer-three" class="column">
        <h2>
            Servicetekniker</h2>
        <ul>
            <li><strong>Mikael Engström</strong></li>
            <li><a class="callto" href="callto:0702072072">0702-072072</a></li>
            <li><a class="mailTo" href="mailto:mikael.engstrom@wermlandsstugservice.se">mikael.engstrom@wermlandsstugservice.se</a></li>
        </ul>
    </div>
}