*.cache
*.local.config
*.orig
*.BACKUP.*
*.BASE.*
*.REMOTE.*

StugService/_ReSharper.*
StugService/_ReSharper.*/*

StugService.6.0.ReSharper.user
*/StugService.Web/obj/
*/StugService.Web/bin/
StugService/_ReSharper