@using StugService.Web.Common
@using StugService.Web.Extensions
@if (Request.CurrentLang() == Lang.Sv)
{
    <a href="/">
        <img id="logo" src="../../img/wss_logotype100.png" alt="Wermlands stugservice" />
    </a>
}
else if (Request.CurrentLang() == Lang.En)
{
    <a href="/En">
        <img id="logo" src="../../img/wss_logotype100.png" alt="Wermlands stugservice" />
    </a>
}
else if (Request.CurrentLang() == Lang.Nl)
{
    <a href="/Nl">
        <img id="logo" src="../../img/wss_logotype100.png" alt="Wermlands stugservice" />
    </a>
}
else if (Request.CurrentLang() == Lang.De)
{
    <a href="/De">
        <img id="logo" src="../../img/wss_logotype100.png" alt="Wermlands stugservice" />
    </a>
}