
/* =============================================================================
   Primary styles
   Author: 
   ========================================================================== */

body
{
    color: #696969;
    font-size: 15px;
}

a:link
{
    color: #034af3;
    text-decoration: underline;
}
a:visited
{
    color: #505abc;
}
a:hover
{
    color: #1d60ff;
    text-decoration: none;
}
a:active
{
    color: #12eb87;
}

p, ul
{
    margin-bottom: 20px;
    line-height: 1.6em;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #000;
}

h1
{
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}
h2
{
    padding: 0 0 10px 0;
}
h3
{
    font-size: 1.2em;
}
h4
{
    font-size: 1.1em;
}
h5, h6
{
    font-size: 1em;
}

/* this rule styles <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page, #container
{
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    background: #ffffff url('/img/bakgrundvinter01.png') no-repeat right 23px;
}

#header
{
    position: relative;
    margin-bottom: 0px;
    color: #000;
    padding: 0;
}

#header h1
{
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
    color: #fff;
    border: none;
    line-height: 2em;
    font-size: 32px !important;
}

#main
{
    padding: 30px 30px 15px 30px;
    border-bottom: 2px solid #cdcdcd;
    _height: 1px; /* only IE6 applies CSS properties starting with an underscore */
    min-height: 295px;
}

#main.content
{
    background-color: #fff;
}

#main.banner
{
    position: relative;
}

#banner
{
    background-color: #FFFFFF;
    height: 71px;
    left: 10px;
    opacity: 0.6;
    padding: 10px;
    position: absolute;
    top: 235px;
    width: 572px;
    filter: alpha(opacity=60); /* For IE8 and earlier */
    color: black;
    font-family: times New Roman;
    font-size: 3em;
}

#banner h1 
{
    font-size: 0.7em;
    margin: 0;
}

#banner p
{
    margin: 0;
    padding: 0;
    font-size: 0.5em;    
}


/* FOOTER   
----------------------------------------------------------*/

#footer
{
    background: url("/img/skuggning.png") no-repeat scroll right top #FFFFFF;
    color: #000;
    font-size: 0.9em;
    line-height: normal;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    min-height: 200px;
    padding: 10px 0 20px;
    text-align: center;
    width: 960px;
    position: relative;
}

.row
{
    clear: both;
    overflow: hidden;
}

.column
{
    float: left;
    margin-bottom: 15px;
    text-align: left;
    margin-left: 20px;
}

.row.ingress .column .one
{
    width: 340px;
}

.row.ingress .column .two
{
    width: 340px;
}

.row.offer
{
    
}

#footer-one
{
    width: 302px;
}

#footer-two
{
    width: 305px;
    /*margin-left: 342px;*/
}

#footer-three
{
    width: 293px;
}

#footer-bar
{
    clear: both;
    text-align: left;
    border-top: solid 1px #000;
    padding-top: 7px;
    padding-left: 10px;
}

#footer-bar .addthis_toolbox
{
    float: right;
}



#footer ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}

#footer-one ul.usp
{
    margin-top: 19px;
}

ul.usp li
{
    background: url("/img/checkbox3.jpg") no-repeat scroll 0 -1px transparent;
    font-size: 1.15em;
    font-weight: bold;
    padding: 0 0 12px 50px;
}

#btn-signup
{
    text-decoration: none;
    color: #FFF;
    margin-top: 18px;
}

.btn-signup-huge {
    background: url("/img/sprite-btns.png") no-repeat scroll right -301px transparent;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 1.5em;
    font-weight: bold;
    padding-right: 11px;
    text-shadow: -1px -1px 0 #24941B;
}

.btn-signup-huge span {
    background: url("/img/sprite-btns.png") no-repeat scroll 0 -301px transparent;
    display: inline-block;
    padding: 17px 16px 25px 27px;
}




/* TAB MENU   
----------------------------------------------------------*/
ul#menu
{
    border-bottom: 2px #cdcdcd solid;
    padding: 0 0 2px;
    position: relative;
    margin: 0;
    text-align: right;
    font-size: 18px;
}

ul#menu li
{
    display: inline;
    list-style: none;
}

ul#menu li#greeting
{
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #fff;
}

ul#menu li a
{
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #0099FF;
}

ul#menu li a:hover
{
    background-color: #fff;
    text-decoration: none;
}

ul#menu li a:active
{
    background-color: #fff;
    text-decoration: none;
}

ul#menu li.selected a
{
    background-color: #fff;
    color: #333333;
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend
{
    font-size: 1.2em;
    font-weight: bold;
}

textarea
{
    min-height: 75px;
}

input[type="text"]
{
    width: 200px;
    border: 1px solid #CCC;
}

input[type="password"]
{
    width: 200px;
    border: 1px solid #CCC;
}

/* TABLE
----------------------------------------------------------*/

table
{
    border: solid 1px #e8eef4;
    border-collapse: collapse;
}

table td
{
    padding: 5px;
    border: solid 1px #e8eef4;
}

table th
{
    padding: 6px 5px;
    text-align: left;
    background-color: #e8eef4;
    border: solid 1px #e8eef4;
}

/* MISC  
----------------------------------------------------------*/
.clear
{
    clear: both;
}

.error
{
    color: Red;
}

#menucontainer
{
    margin-top: 80px;
}

div#title
{
    display: block;
    float: left;
    text-align: left;
}

#logo
{
    margin-top: 72px;
    margin-left: 23px;
}

#logindisplay
{
    background-color: #000000;
    color: #cccccc;
    display: block;
    font-size: 1.1em;
    height: 21px;
    margin: 10px 0 10px 0;
    padding: 10px;
    text-align: right;
}

#logindisplay a
{
    padding-right: 10px;
}

#logindisplay a:link
{
    color: #cccccc;
    text-decoration: none;
}

#logindisplay a:visited
{
    color: #cccccc;
    text-decoration: none;
}

#logindisplay a:hover
{
    color: #cccccc;
    text-decoration: none;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, .editor-label
{
    margin: 1em 0 0 0;
}

.display-field, .editor-field
{
    margin: 0.5em 0 0 0;
}

.text-box
{
    width: 30em;
}

.text-box.multi-line
{
    height: 6.5em;
}

.tri-state
{
    width: 6em;
}
