@{
	Page.Title = "Wermlands stugservice";
}
<div id="main" class="banner" role="main">
  <div id="banner">
       <h1>Wermlands stugservice</h1>
       <p>Vi tar hand om din stuga</p>
    </div>
</div>