@{
	Page.Title = "Home Page";
}
<div id="main" class="banner" role="main">
  <div id="banner">
       <h1>Wermlands stugservice</h1>
       <p>Vi hjälper dig ta hand om din stuga</p>
    </div>
</div>