@{
    Page.Title = "Om oss - Wermlands stugservice ";
}
<div id="main" class="content" role="main">
    <h2>
        Om oss</h2>
    <p>
        Wermlands stugservice är ett familjeföretag som drivs av syskonen Engström med säte
        i Ekshärad, norra Värmland. Vi levererar flexibla <a href="https://wermlands-stugservice.apphb.com/sv/tjanster">lösningar</a> som underlättar både
        vardag och semester för säsongsboende och permanenta stugägare. Vi värnar om den
        personliga kontakten till våra kunder.
    </p>
    <div class="row about">
        <div class="column one">
            <img src="../../img/portrait.jpg" />
            <h2>
                Christian Wigren</h2>
            <p>
                Administration och ekonomi</p>
            <img src="../../img/portrait.jpg" />
            <h2>
                Mikael Engström</h2>
            <p>
                Servicetekniker</p>
        </div>
        <div class="column two">
            <img src="../../img/portrait.jpg" />
            <h2>
                Linnéa Engström</h2>
            <p>
                Kundtjänst</p>
            <img src="../../img/portrait.jpg" />
            <h2>
                Daniel Bergström</h2>
            <p>
                Kundtjänst och servicetekniker</p>
        </div>
    </div>
</div>
