@{
    Page.Title = "About";
}
<div id="main" class="content" role="main">
    <h2>
        Om oss</h2>
    <p>
        Wermlands stugservice är ett familjeföretag som drivs av syskonen Engström med säte
        i Ekshärad, norra Värmland. Vi levererar flexibla lösningar som underlättar både
        vardag och semester för säsongsboende och permanenta stugägare. Vi värnar om den
        personliga kontakten till våra kunder.
    </p>
</div>
