@{
    Page.Title = "Våra Tjänster";
}
<div id="main" class="content" role="main">
    <h2>
        Våra Tjänster</h2>
    <p>
        Här tycker jag vi skall skriva lite om vad vi kan generellt kanske?</p>
    <h3>
        Grundpaket Tillsyn 700kr/månad</h3>
    Tillsyn var 14:e dag en:
    <h4>
        Inbrott</h4>
    <ul>
        <li>Inga trasiga el. uppbrutna fönster</li>
        <li>Inga uppbrutna lås eller dörrar</li>
    </ul>
    <h4>
        Vatten, avlopp och el</h4>
    <ul>
        <li>Inget vattenläckage</li>
        <li>Inga frusna ledningar</li>
        <li>Inga trasiga proppar</li>
    </ul>
    <h4>
        Olja pannan/el system ok</h4>
    <ul>
        <li>Inomhustemperatur</li>
        <li>Trädgård</li>
        <li>Inga fallna träd</li>
        <li>Inget vandaliserat</li>
    </ul>
    <h3>
        Rapport</h3>
    <p>
        Efter varje tillsynstillfälle skickas en statusrapport till husägaren via email.
        I statusrapporten ingår också foton på hus och ägor.</p>
    <h3>
        Tilläggstjänster</h3>
    <p>
        Vi erbjuder också tilläggstjänster. Exempelvis:
        <ul>
            <li>snöskottning </li>
            <li>gräsklippning</li>
            <li>fönsterputs </li>
            <li>städning </li>
            <li>trädgårdsskötsel </li>
            <li>fastighetsskötsel</li>
            <li>skräddarsydda tjänster enligt kundens önskemål<br />
                t.ex iordningställande av stuga inför sommarsäsongen med allt vad det innebär, eller
                fyller kylen med önskade matvaror inför ankomst.</li></ul>
    </p>
</div>
