@{
    Page.Title = "Våra Tjänster";
}
<div id="main" class="content" role="main">
    <div class="row ingress">
        <div class="column">
            <h2>
                Vi hjälper dig att ta hand om din stuga</h2>
            <p>
                Wermlands stugservice hjälper stugägare i Värmland att ta hand sin stuga eller trädgård.
                Vi erbjuder allt från vårt färdiga tillsynspaket till skräddarsydda lösningar efter
                kundens behov och önskemål.</p>
        </div>
        <div class="column">
            <ul>
                <li>Tillsyn av ditt hus</li>
                <li>Fotografering och rapportering</li>
                <li>Gräsklippning och snöskottning</li>
            </ul>
        </div>
        <div class="row" style="background-color: #eeeeee; padding: 10px; -moz-border-radius: 5px;">
            <h3>
                Tillsyn 700kr/månad</h3>
            <p>
                Tillsyn och rapportering var 14:e dag<br />
                Efter varje tillsynstillfälle skickas en statusrapport till husägaren via email.<br />
                I statusrapporten ingår också foton på hus och ägor.</p>
            <div class="column">
                <table>
                    <thead>
                        <tr>
                            <th>
                                Tillsyn som ingår
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <strong>Inbrott</strong>
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Inga trasiga el. uppbrutna fönster
                            </td>
                            <td>
                                Ja
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Inga uppbrutna lås eller dörrar
                            </td>
                            <td>
                                Ja
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Vatten, avlopp och el</strong>
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Inget synliga vattenläckage
                            </td>
                            <td>
                                Ja
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Inga frusna ledningar
                            </td>
                            <td>
                                Ja
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Inga trasiga proppar
                            </td>
                            <td>
                                Ja
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Oljepannan/ värmesystem</strong>
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Inomhustemperatur
                            </td>
                            <td>
                                Ja
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Tillsyns av funktion
                            </td>
                            <td>
                                Ja
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Trädgård</strong>
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Inga fallna träd
                            </td>
                            <td>
                                Ja
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Inget vandaliserat
                            </td>
                            <td>
                                Ja
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Rapportering</strong>
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Rapport vi mejl efter varje tillsyns
                            </td>
                            <td>
                                Ja
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Fotografering vid varje tillsyns. Skickas med i mejl.
                            </td>
                            <td>
                                Ja
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="column" style="margin-left: 70px;">
                <table>
                    <thead>
                        <tr>
                            <th>
                                Tilläggstjänster
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <strong>Trädgårdsskötsel</strong>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Snöskottning
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Gräsklippning
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Fastighetsskötsel</strong>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Fönsterputs
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Vårstädning
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Skräddarsydda tjänster</strong>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Skräddarsydda tjänster enligt kundens önskemål<br />
                                <i>t.ex iordningställande av stuga inför sommarsäsongen med allt vad det innebär, eller
                                    fyller kylen med önskade matvaror inför ankomst.</i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row" style="background-color: #eeeeee; padding: 10px; -moz-border-radius: 5px;
        margin-top: 40px;">
        <h3>
            Övriga tjänster
        </h3>
        <ul>
            <li>snöskottning </li>
            <li>gräsklippning</li>
            <li>fönsterputs </li>
            <li>vårstädning</li>
            <li>trädgårdsskötsel </li>
            <li>fastighetsskötsel</li>
            <li>skräddarsydda tjänster enligt kundens önskemål<br />
                t.ex iordningställande av stuga inför sommarsäsongen med allt vad det innebär, eller
                fyller kylen med önskade matvaror inför ankomst.</li></ul>
    </div>
    <h3>
        Hur gör jag om jag vill ha hjälp?</h3>
    <p>
        Kontakta oss så berättar mer.
    </p>
    <strong>Linnéa Engström</strong><br />
    <a class="callto" href="callto:0702072072">0702-072072</a><br />
    <a class="mailTo" href="mailto:linnea.engstrom@wermlandsstugservice.se">linnea.engstrom@wermlandsstugservice.se</a><br />
    <br />
    <strong>Daniel Bergström</strong><br />
    <a class="callto" href="callto:0702072072">0702-072072</a><br />
    <a class="mailTo" href="mailto:daniel.bergstrom@wermlandsstugservice.se">daniel.bergstrom@wermlandsstugservice.se</a><br />
</div>
